@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
$fontFamily: 'Open Sans',
sans-serif;
$fontSize: 16px;
$transition: .3s ease;
$primary: #3177b5;
$secondary: #33a5d7;
$tertiary: #080033;
$black: #000;
$white: #fff;
$lightGray: #a0a0a0;
$gray: #eaeaea;
$padding: 100px 0;

/*********************
mixins
*********************/
@mixin flex($justify, $align, $direction: row) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin btn {
    padding: 10px 40px;
    background: transparent;
    border: 2px solid $white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
    margin-top: 30px;
    cursor: pointer;
    color: $white;
    transition: $transition;

    &:hover {
        background: $white;
        color: $primary;
    }
}

@mixin bgImg($height) {
    height: $height;
    background-position: center;
    background-size: cover;
}

@mixin underline($color, $width) {
    background: $color;
    width: $width;
    display: block;
    height: 2px;
    content: "";

}





/*********************
basic styles
*********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: 1.5;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: $secondary;
    font-size: 1.3rem;
    font-weight: 600;

    &:hover {
        transition: $transition;
        color: $primary;
    }
}

ul {
    list-style: none;
}

.container {
    width: 80%;
    margin: auto;
}

li {
    &:hover {
        transition: $transition;
        transform: scale(120%);
    }
}

button {
    @include btn;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1 {
    text-transform: uppercase;
    font-size: 4rem;
    text-shadow: 0 0 2px $tertiary;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2rem;
    color: $primary;
    margin-top: 30px;

    &::after {
        @include underline($primary, 50px);
        margin: 0 auto 20px auto;
    }
}

h4 {
    font-size: 1.4rem;
    color: $primary;
    margin-top: 20px;

    &::after {
        @include underline($primary, 50px);
        margin: 0 auto 20px auto;
    }
}

p {
    font-size: 1.2rem;
    font-weight: 500;
}


img {
    width: 100%;

}

/***header***/
.topbar {
    @include flex(space-between, center);
    padding: 10px 0;

    .logo {
        color: $primary;

        span {
            font-style: italic;
            color: $secondary;
            font-weight: 800;
        }
    }

    ul {
        @include flex(space-between, center);

        a {
            background: $secondary;
            border-radius: 50%;
            font-size: 1.3rem;
            display: inline-block;
            text-align: center;
            width: 40px;
            height: 40px;
            line-height: 40px;
            margin-left: 40px;
            color: $white;

            &:hover {
                box-shadow: 0 0 10px $lightGray;
                background: $primary;
            }
        }
    }
}

/***mainHeader***/
.mainHeader {
    background-image: linear-gradient(rgba($primary, .7), rgba($primary, .7)), url(img/header.jpg);

    @include bgImg(50vh);

    nav {

        ul {
            @include flex(flex-end, center);

            a {
                color: $white;
                margin-right: 50px;
            }
        }
    }

    hgroup {
        @include flex(center, center, column);
        color: $white;
        width: 40%;
        text-align: center;


        margin: auto;
        height: 50vh;


    }
}

/***services***/
.services {
    @include flex(center, center);
    margin-top: -50px;

    article {
        flex: 0 0 25%;
        color: $white;
        text-align: center;
        padding: 50px 0;

        i {
            font-size: 4rem;
        }

        h3 {
            font-size: 2rem;
            margin: 20px 0;
        }
    }

    article:nth-child(odd) {
        background: $primary;

        h3 {
            color: $secondary;
        }
    }

    article:nth-child(even) {
        background: $secondary;

        h3 {
            color: $primary;
        }
    }
}


/***map***/
.map {
    iframe {
        display: block;
    }
}

footer {
    background: $primary;
    text-align: center;
    padding: 20px 0;
}

/***about***/
.about {
    @include flex(center, center);
    color: $secondary;


    article:nth-child(1) {
        flex: 0 0 50%;
        background-color: $gray;
        height: 50vh;
        padding-left: 10%;

        @include flex(center, flex-start, column);

        h3 {
            color: $secondary;

            &::after {
                margin: 0 0 20px 0;
            }
        }

        p {
            padding-right: 10%;
            padding-bottom: 20px;
        }

    }

    article:nth-child(2) {
        flex: 0 0 50%;
        height: 50vh;
        background-image: linear-gradient(rgba($tertiary, .7), rgba($tertiary, .7)), url(img/about.jpg);
        @include bgImg(50vh);
        color: $white;

        text-align: center;
        @include flex(center, center);

        h2 {
            font-weight: 500;
            border: 1px solid $white;
            align-items: center;
            padding: 40px;


            span {
                font-weight: 800;
            }
        }
    }
}

/***team***/
.team {
    background-image: linear-gradient(rgba($black, .7), rgba($black, .7)), url(img/about2.jpg);
    @include bgImg(50vh);
    height: 50vh;
    text-align: center;
    color: $white;
    @include flex(center, center, column);

    h3 {
        color: $white;
        text-align: center;

        &::after {
            @include underline($white, 50px);
        }
    }

    p {
        width: 50%;
    }
}

.peoples {

    background-color: $gray;
    text-align: center;
    color: $white;
    margin-top: -50px;

    .container {
        @include flex(center, center);

        article {
            flex: 0 0 25%;
            position: relative;
            top: -100px;

            img {
                width: 100%;
            }

            .text {
                padding: 40px;
                @include flex(center, center, column);

                h3 {
                    font-size: 2rem;
                    color: $white;
                    margin: 30px;

                    &::after {
                        @include underline($white, 150px);
                    }
                }
            }
        }

        article:nth-child(odd) {
            background-color: $primary;

            button {
                background-color: $secondary;
                border: none;
                width: 50%;

                &:hover {
                    transition: $transition;
                    background: $white;
                    color: $primary;
                }
            }
        }

        article:nth-child(even) {
            background-color: $secondary;


            button {
                background-color: $primary;
                border: none;
                width: 50%;

                &:hover {
                    transition: $transition;
                    background: $white;
                    color: $secondary;
                }
            }
        }
    }
}

/***contact***/
.contact {
    @include flex(space-between, center);
    padding: 50px;
}

.consulatation {
    @include flex(center, center, column);
    background-color: $primary;
    text-align: center;

    h3 {
        color: $white;
    }

    p {
        color: black;
    }

    .container {
        @include flex(space-between, center);
        margin: 30px auto;


        div {
            flex: 0 0 24%;
            background-color: $white;
            text-align: center;
            margin-top: 20px;

            @include flex(center, center, column);

            p {
                margin: 20px;
                padding: 20px;
            }

        }
    }
}